{% load staticfiles %}
<html>
    <head>
        <title>Easy Living</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Easy Living</a></h1>
        </div>
        <div class="content container">
            <section class="radio">
                <h2>Easy Living Standortsuche</h2>
                <fieldset>
                    <label for="search">Suche
                        <input id="search" name="search" size="40">
                    </label>
                    <br/>
                    <br/>
                    <legend>Filter</legend>

                    <label><input type="checkbox" name="filter" value="ki">  Kindergärten</label><br/>
                    <label><input type="checkbox" name="filter" value="sc">  Schulen</label><br/>
                    <label><input type="checkbox" name="filter" value="ae">  Ärzte</label><br/>

                    </label>


                </fieldset>
            </section>
        </div>

        <!--<div class="content container">
            <div class="row">
                <div class="col-md-8">
                    &lt;!&ndash;{% for post in posts %}&ndash;&gt;
                        &lt;!&ndash;<div class="post">&ndash;&gt;
                            &lt;!&ndash;<div class="date">&ndash;&gt;
                                &lt;!&ndash;<p>published: {{ post.published_date }}</p>&ndash;&gt;
                            &lt;!&ndash;</div>&ndash;&gt;
                            &lt;!&ndash;<h1><a href="">{{ post.title }}</a></h1>&ndash;&gt;
                            &lt;!&ndash;<p>{{ post.text|linebreaksbr }}</p>&ndash;&gt;
                        &lt;!&ndash;</div>&ndash;&gt;

                    &lt;!&ndash;{% endfor %}&ndash;&gt;
                </div>
            </div>
        </div>-->
    </body>
</html>